{% load static %}
    <div class="sharing-content">
        <div class="sharing img">
            <img src="{% static 'find_subway/sandwich.PNG' %}" alt="Suby!">
            <div class="alt-text1">Dzielimy się ze światem miłością do subów!</div>
        </div>
        <div class="sharing-content1">
            <p>Więcej informacji, Porozmawiajmy!</p>
            <a href="#" class="sharing-button">SKONTAKTUJ SIĘ Z NAMI</a>
        </div>
        <div class="sharing-content2">
            <a href="https://www.facebook.com/subwaypolska/" class="icon1 facebook" id="fb">
            <img src="{% static 'logos/fb.PNG' %}" alt="FB">
        </a>
            <a href="https://www.youtube.com/user/SubwayPolska" class="icon1 youtube" id="yt">
            <img src="{% static 'logos/youtube.PNG' %}" alt="Youtube">
        </a>
            <a href="https://www.instagram.com/subway_polska" class="icon1 instagram" id="insta">
            <img src="{% static 'logos/instagram.PNG' %}" alt="Instagram">
        </a>
        </div>
    </div>