{% load static %}
<footer>
        <div class="footer-container">
            <div class="left-section">
                <p>Social Media News</p>
            </div>
            <div class="middle-section">
                <h2>Wybrane z menu</h2>
                <div class="menu-buttons1">
                    <button><a href="http://127.0.0.1:8000/menu/?category=Przek%C4%85ski%20i%20napoje">PRZEKĄSKI I NAPOJE</a></button>
                    <button><a href="http://127.0.0.1:8000/menu/?category=Sa%C5%82atki">SAŁATKI</a></button>
                    <button><a href="http://127.0.0.1:8000/menu/?category=Wrapy">SIGNATURY WRAPY</a></button>
                    <button><a href="http://127.0.0.1:8000/menu/?category=Suby">SUBY</a></button>
                    <button><a href="http://127.0.0.1:8000/menu/?category=Veggie">VEGGIE</a></button>
                    <button><a href="http://127.0.0.1:8000/menu/?category=%C5%9Aniadanie">ŚNIADANIE</a></button>
                </div>
            </div>
            <div class="right-section">
                <img src="{% static 'logos/logo.png' %}" alt="Subway Logo">
                <p>Czy chcesz mieć restaurację Subway®?</p>
                <p><a href="https://www.subway-franchise.de/en">SUBWAY® Franchise</a></p>
                <p>Spróbuj szczęścia. Chcielibyśmy cię zobaczyć</p>
                <p>Contact for media</p>
                <p>ce.europe_sales@subway.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="left">Subway® is a Registered Trademark of Subway IP LLC. ©2024 Subway IP LLC.</p>
            <p class="right"><a href="https://mysubway.pl/polityka-plikow-cookies-eu">Polityka plików cookies (EU)</a>
                | <a href="https://mysubway.pl/en/cookie-policy-eu">Cookie Policy (EU)</a>
                | <a href="https://mysubway.pl/Privacy-Statement_01-09-19_PL-PL.pdf">Polityka Prywatności</a>
                | <a href="https://mysubway.pl/terms-of-use-pl.pdf">Warunki użytkowania</a></p>
        </div>
    </footer>