{% load static %}
<div class="find-subway-section">
        <h1>Znajdź Subway®</h1>
        <div class="content">
            <div class="subway-logo">
                <a href="https://restaurants.subway.com/pl/polska "><img  src="{% static 'find_subway/one.PNG' %}" alt="Find Subway"></a>
            </div>
        </div>
        <div class="buttons">
            <p>Dowiedz się więcej o swojej restauracji</p>
            <a href="https://restaurants.subway.com/pl/polska" class="restaurant-button">INFORMACJE O RESTAURACJI</a>
        </div>
    </div>