<div class="menu-categories">
        <button class="category active">Wszystkie</button>
        <button class="category">Przekąski i napoje</button>
        <button class="category">Sałatki</button>
        <button class="category">Signatury wrapy</button>
        <button class="category">Śniadanie</button>
        <button class="category">Suby</button>
        <button class="category">Veggie</button>
        <span class="divider">|</span>
        <button class="category secondary">Tabela alergenów</button>
        <button class="category secondary">Informacja o wartościach odżywczych</button>
</div>
