{% load static %}
<div class="container">
        <div class="box box1">
            <a href="http://127.0.0.1:8000/menu/"><img src="{% static 'hovers/zdj1.PNG' %}" alt="Lunch"></a>
        </div>
        <div class="box box2">
            <a href="http://127.0.0.1:8000/menu/?category=%C5%9Aniadanie"><img src="{% static 'hovers/zdj2.PNG' %}" alt="Śniadanie"></a>
        </div>
        <div class="box box3">
            <a href="http://127.0.0.1:8000/menu/?category=Sa%C5%82atki"><img src="{% static 'hovers/zdj3.PNG' %}" alt="Sałatki"></a>
        </div>
        <div class="box box4">
            <a href="http://127.0.0.1:8000/menu/?category=Przek%C4%85ski%20i%20napoje"><img src="{% static 'hovers/zdj4.PNG' %}" alt="Quesadillas"></a>
        </div>
        <div class="box box5">
            <a href="http://127.0.0.1:8000/menu/?category=Veggie"><img src="{% static 'hovers/zdj5.PNG' %}" alt="Wegetariańskie"></a>
        </div>
    </div>