{% load static %}
<div class="container">
        <div class="box box1">
            <img src="{% static 'hovers/zdj1.PNG' %}" alt="Lunch">
        </div>
        <div class="box box2">
            <img src="{% static 'hovers/zdj2.PNG' %}" alt="Śniadanie">
        </div>
        <div class="box box3">
            <img src="{% static 'hovers/zdj3.PNG' %}" alt="Sałatki">
        </div>
        <div class="box box4">
            <img src="{% static 'hovers/zdj4.PNG' %}" alt="Quesadillas">
        </div>
        <div class="box box5">
            <img src="{% static 'hovers/zdj5.PNG' %}" alt="Wegetariańskie">
        </div>
    </div>