{% load static %}
<div class="menu-products">
  <div class="slider-controls">
    <button class="arrow left">&lt;</button>
    <button class="arrow right">&gt;</button>
  </div>
  <div class="products-wrapper">
    <div class="products">
      <div class="product">
        <img src="{% static 'images/waffle-fries.PNG' %}" alt="Waffle-Fries">
        <div class="alt-text">Waffle Fries</div>
      </div>
      <div class="product">
        <img src="{% static 'images/BBQ-Chicken-02.jpg' %}" alt="BBQ-Chicken">
          <div class="alt-text">Sandwich BBQ-Chicken</div>
      </div>
      <div class="product">
        <img src="{% static 'images/Steak-cheese-02.jpg' %}" alt="Steak-cheese">
          <div class="alt-text">Sandwich Steak-Chease</div>
      </div>
      <div class="product">
      <img src="{% static 'images/Chicken-strips-02.jpg' %}" alt="Chicken-strips-02">
          <div class="alt-text">Sandwich Chicken-strips</div>
     </div>
     <div class="product">
      <img src="{% static 'images/Chicken-Teriyaki-wrap-1.jpg' %}" alt="Chicken-Teriyaki-wrap-1">
         <div class="alt-text">Wrap Chicken-Teriyaki</div>
     </div>
     <div class="product">
       <img src="{% static 'images/Tuna-02.jpg' %}" alt="Tuna-02">
         <div class="alt-text">Tuna Sandwich</div>
     </div>
    </div>
  </div>
  <button class="show-all">POKAŻ WSZYSTKO Z MENU</button>
</div>